/**--BREADCRUMB--**/
.bread-crumb { 
    
    font-size: 90%; 
    margin: 6px 0 0 0; 

    #final-arrow {
        float: left;
                display: none;
    }

    .menu {
        display: inline;
        list-style: none;
        float: right;
        font-size: 120%;
        margin: 0;
        li {
            float: left;
        }

        a, a:link, a:visited, a:hover, a:active {
            color: #000;
        }
    }
    
}//end .bread-crumb